/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Home page */

html {
  background-color: #C6D8AF;
  font-family: arial, sans-serif;
  font-size: 100%;
  line-height: 115%;
}

#home-page
h1 {
  color: red;
  font-size: 300%;
  text-align: center;
  padding: 10%;
  line-height: 100%;
}

#home-page
h2 {
  color: blue;
  font-size: 200%;
}

#home-page
p {
  padding: 2em;
}

/* Game page */

#game-page
h1 {
  color: red;
  font-size: 300%;
  text-align: center;
  padding-top: 2%;
  line-height: 100%;
}

#game-page
h2 {
  color: blue;
  font-size: 200%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 100%;
}

/*@media screen and (min-width: 30em) {*/
  #game-page
  h3,
  img.a {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/*}*/

#game-page
h3 {
  width: 50%;
  line-height: 100%;
}

@media screen and (min-width: 30em) {
  #game-page
  img.a {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

#game-page
img.a {
  width: 100%;
}

#game-page
h3 {
  font-size: 1.5em;
  color: purple;
  padding: 1.5%;
}

#game-page
p {
  color: purple;
  padding-top: 1%;
}

/* Resume page */

#resume-page
h1 {
  color: red;
  font-size: 300%;
  text-align: center;
  padding: 5%;
  line-height: 100%;
}

#resume-page
h2 {
  color: red;
  font-size: 200%;
  text-align: center;
  padding: 10%;
}

/*@media screen and (min-width: 30em) {*/

#resume-page
li.tel,
li.email,
ul.a,
ul.b,
li.a,
li.b,
li.c,
li.d,
li.e,
li.f {
  padding-top: 5%;
  padding-bottom: 5%;
}

#resume-page
h3 {
  font-size: 1.5em;
  color: red;
  padding-top: 5%;
  padding-bottom: 5%;
}
