/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Home page */

html {
  background-color: #C6D8AF;
  font-family: arial, sans-serif;
  font-size: 100%;
  line-height: 115%;
}

#home-page
ul {
  margin: 0;
  padding: 0;
  width: 7em;
  background-color: #DFFDFF;
  border: 0.5em solid #90BEDE;
}

#home-page
li {
  display: block;
  color: red;
  padding: 1em;
  text-align: center;
  border: 0.25em solid #90BEDE;
}

#home-page
li:hover {
  background-color: #90F3FF;
}

#home-page
h1 {
  color: red;
  font-size: 300%;
  text-align: center;
  padding: 1em;
  line-height: 100%;
}

@media screen and (min-width: 30em) {
  #home-page
  h1 {
    padding: 1em;
  }
}

#home-page
h2 {
  color: blue;
  font-size: 200%;
}

#home-page
p {
  padding: 2em;
}

/* Game page */

#game-page
ul {
  margin: 0;
  padding: 0;
  width: 7em;
  background-color: #DFFDFF;
  border: 0.5em solid #90BEDE;
}

#game-page
li {
  display: block;
  color: red;
  padding: 1em;
  text-align: center;
  border: 0.25em solid #90BEDE;
}

#game-page
li:hover {
  background-color: #90F3FF;
}

#game-page
h1 {
  color: red;
  font-size: 300%;
  text-align: center;
  padding-top: 2%;
  line-height: 100%;
}

#game-page
h2 {
  color: blue;
  font-size: 200%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 100%;
}

#game-page
h3,
img.a {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#game-page
h3 {
  width: 50%;
  line-height: 100%;
  font-size: 1.5em;
  color: purple;
  padding: 1.5%;
}

#game-page
img.a {
  width: 100%;
}

@media screen and (min-width: 30em) {
  #game-page
  img.a {
    width: 50%;
  }
  #game-page
  h2.a {
    padding-top: 1.5%;
    padding-bottom: 1%;
  }
}

#game-page
p {
  color: purple;
  padding-top: 1%;
}

/* Resume page */

#resume-page
ul.nav {
  margin: 0;
  padding: 0;
  width: 7em;
  background-color: #DFFDFF;
  border: 0.5em solid #90BEDE;
}

#resume-page
li.nav {
  display: block;
  color: red;
  padding: 1em;
  text-align: center;
  border: 0.25em solid #90BEDE;
}

#resume-page
li.nav:hover {
  background-color: #90F3FF;
}

#resume-page
ul.contact {
  margin: 0;
  padding: 0;
  width: 11em;
  height: 5em;
  background-color: #DFFDFF;
  border: 0.5em solid #90BEDE;
}

#resume-page
li.email,
li.tel {
  display: block;
  padding: 1em;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
}

#resume-page
ul.b {
  margin: 0;
  padding: 0;
  width: 11em;
  height: 5em;
  background-color: #DFFDFF;
  border: 0.5em solid #90BEDE;
  padding-top: 2%;
  padding-bottom: 5%;
}

#resume-page
li.city {
  display: block;
  padding: 1em;
  text-align: left;
}

#resume-page
ul.a {
  margin: 0;
  padding: 0;
  width: 10em;
  height: 5em;
  background-color: #DFFDFF;
  border: 0.5em solid #90BEDE;
  padding-top: 5%;
  padding-bottom: 2%;
}

#resume-page
p.edu,
li.edu {
  display: block;
  padding: 1em;
  text-align: left;
}

#resume-page
ul.exp {
  margin: 0;
  padding: 0;
  width: 20em;
  height: 10em;
  background-color: #DFFDFF;
  border: 0.5em solid #90BEDE;
}

#resume-page
li.a {
  padding-top: 5%;
  padding-bottom: 5%;
}

#resume-page
li.a,
li.b,
li.c {
  display: block;
  padding: 1em;
  text-align: left;
}

#resume-page
ul.skills {
  margin: 0;
  padding: 0;
  width: 20em;
  height: 10em;
  background-color: #DFFDFF;
  border: 0.5em solid #90BEDE;
}

#resume-page
li.d {
  padding-top: 5%;
  padding-bottom: 5%;
}

#resume-page
li.d,
li.e,
li.f {
  display: block;
  padding: 1em;
  text-align: left;
}

#resume-page
h1 {
  color: red;
  font-size: 300%;
  text-align: center;
  padding: 5%;
  line-height: 100%;
}

#resume-page
h2 {
  color: red;
  font-size: 200%;
  text-align: center;
  padding: 10%;
}

#resume-page
li.tel,
li.b,
li.c,
li.e,
li.f {
  padding-top: 5%;
  padding-bottom: 5%;
}

@media screen and (min-width: 30em) {
  #resume-page
  h2 {
    padding: 1%;
  }
  #resume-page
  h3 {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  #resume-page
  li.tel,
  li.a,
  li.b,
  li.c,
  li.f {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #resume-page
  li.email {
    padding-top: 0%;
  }
  #resume-page
  li.e,
  li.f {
    padding-top: 1%;
  }
  #resume-page
  li.f {
    padding-bottom: 5%;
  }
  #resume-page
  ul.a,
  ul.b,
  li.d {
    padding-top: 0%;
  }
  #resume-page
  ul.b {
    padding-bottom: 0%;
  }
}

#resume-page
h3 {
  font-size: 1.5em;
  color: red;
  padding-top: 5%;
  padding-bottom: 5%;
}
